<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto"
    package="com.d4rk.cleaner">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN"/>
        </intent>
    </queries>
    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:backupInForeground="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        android:banner="@drawable/banner"
        android:logo="@drawable/ic_app"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:description="@string/app_description"
        android:screenOrientation="fullSensor"
        android:supportsRtl="true"
        android:appCategory="productivity"
        tools:targetApi="o">
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true"/>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5294151573817700~3549716864"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:value="true"
            android:name="ADMOB_ALLOW_LOCATION_FOR_ADS"/>
        <activity
            android:name=".AboutActivity"
            android:label="@string/miscellaneous_about"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".PromptActivity"
            android:label="@string/title_activity_prompt"
            android:exported="true"
            android:theme="@style/AppThemeNoActionBar"/>
        <activity
            android:name=".WhitelistActivity"
            android:label="@string/whitelist_string"
            android:exported="true"
            android:parentActivityName=".SettingsActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.App.Starting"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>
        <activity
            android:name=".clipboard.ClipboardActivity"
            android:exported="true"
            android:label="@string/navigation_drawer_clipboard_cleaner">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".clipboard.ClipboardActivity"/>
        </activity>
        <activity
            android:name=".invalid.ui.InvalidActivity"
            android:theme="@style/AppTheme"
            android:label="@string/invalid_media_cleaner">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".invalid.ui.InvalidActivity"/>
        </activity>
        <activity
            android:name=".clipboard.IntentActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.ASSIST"/>
            </intent-filter>
        </activity>
        <receiver android:name=".CleanReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service
            android:name=".ScheduledService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver
            android:name=".clipboard.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service
            android:name=".clipboard.CleanService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name=".clipboard.tile.CleanTileService"
            android:exported="true"
            android:icon="@drawable/ic_broom"
            android:label="@string/clipboard_clean"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <receiver
            android:name=".clipboard.widget.CleanWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
            android:name="android.appwidget.provider"
            android:resource="@xml/widget_clean_info"/>
        </receiver>
        <receiver
            android:name=".clipboard.widget.ContentWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_content_info"/>
        </receiver>
        <service
            android:name=".clipboard.tile.ContentTileService"
            android:exported="true"
            android:icon="@drawable/ic_drawer_clipboard"
            android:label="@string/clipboard_content"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
    </application>
</manifest>